*{
    padding: 0;
    margin: 0;
    border: 0;
}
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container{
        display: grid;
        grid-template-rows: 10vh 10vh minmax(80vh,min-content);
    }
    .navbar{
        background: lightpink;
        display: grid;
        grid-template-columns:10fr 50fr 30fr 10fr;
    }
    .logo h1{
        padding: 0px 20px;
    }
    .amount h1{
        padding: 0px 20px;
    }
    .name h1{
        padding: 0px 20px;
    }
    .signoutBtn{
        height: 60px;
        /* width:100px; */
        /* border-radius: 30%; */

    }
    .transcationForm{
        background: lightseagreen;
    }
    .transcationList{
        background: lime;
        
    }
    .transcationListItem{
        display: grid;
        grid-template-columns: min-content 1fr min-content max-content min-content;
        grid-template-areas: "renderIndex renderTitle renderCost renderDate viewButton";
        /* column-gap: 0px; */

        /* column-gap: 20px; */
    }
    .listItem{
        padding: 20px;
        /* flex-flow: row; */
    }